* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
      font-family: Segoe UI;
  }
  
  .btn-group{
      padding: 0 0 15px 15px;
  }
  
  .btn-info{
      padding-left: 30px;
  }
  
  /*FONDOS*/
  .imagenesfondo{
      background-image: url("https://static.tumblr.com/bdc6961f4c7545d37ee9584cdf0a1c11/diajvlk/I2ooj8fwt/tumblr_static_tumblr_static_6qyt3i4z3i8040s4sckgws4ok_focused_v3.png");
  }
  .wikifondo{
    background-image: url("https://i.pinimg.com/originals/1d/15/d8/1d15d8da8b3b6f3a895828ba2663f409.gif");
  }
  .unirsefondo{
    background-image: url("https://i.pinimg.com/originals/c4/92/ba/c492baf54af3024902ae3cc570f2aaf3.jpg");
  }
  .videosfondo{
      background-image: url("https://media.istockphoto.com/vectors/vaporwave-abstract-checkered-background-vector-id1204024766?k=6&m=1204024766&s=170667a&w=0&h=4PyvlWqDijTM5GKEfe8wEsLGIOF5Nie4wQea6oQIoOU=");
  }
  .musicafondo{
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlyHMULF3NGWb8i7heGM2BCps8WaTYRHwwBA&usqp=CAU");
  }

  /* MENU*/
  
  #logo {
      padding-left: 20px;
  }
  
  .fixed {
      position: fixed;
  }
   
  .navLinks {
      list-style: none;
  }
  
  .navLinks li {
      display: inline-block;
      padding: 0px 40px 0px 10px;
  }
  
  .navLinks li a {
      text-decoration:none;
      color: White;
  }

  .bg--color{
    background-image: linear-gradient(315deg, #0499f2 0%, #26f596 74%);
  }
  
  /*BANNER*/
  
  .banner {
      width: 100%;
      height: 500px;
      background-image: url("https://ak.picdn.net/shutterstock/videos/1040937482/thumb/1.jpg");
      background-size: cover;
      background-position: center center;
  }
  
  .banner h2 {
      padding-top: 14%;
      text-align: center;
      font-size: 400%;
      color: White;
  
      /*ANIMACION*/
      animation-duration: 3s;
      animation-name: aparecer;
  }
  
  @keyframes aparecer {
      0%{
          opacity: 0;
      }
      100%{
          opacity: 1;
      }
  }
  
  /*SUBTITULOS*/
  
  .subtituloHome{
      font-size: 300%;
      text-align: center;
      padding: 20px 0px 20px 0px;
  }
  
  .subtituloDos{
      font-size: 300%;
      text-align: center;
      padding: 40px 0px 20px 0px;
      font-weight: 900;
  
      animation-name: aparecer;
      animation-duration: 3s;
  }
  
  .subtitulo--blanco{
      color: white;
  }
  
  .subtituloMusica{
      font-size: 200%;
      margin: 1% 0 1% 1%;
      font-style: italic;
      font-weight: 600;
  }
  
  /*GALERIAS*/
  
  .columna img {
      width: 100%;
      padding-top: 5px;
  }
  
  .columna iframe {
      width: 100%;
      padding-top: 5px;
  }
  
  .fila {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: center;
  }
  
  .row2 {
      background-color: #00DF93;
  
      padding: 10px;
      margin: 1% 1% 1% 1%;
      border-radius: 5px;
  }
  
  .container{
      justify-content: center;
  }

  .row {
      background-color: #00DF93;
      border-radius: 5px;
      display: flex;
      padding: 25px;
      margin: 20px;
      flex-wrap: wrap;
      
  }
  
  .columna{
      flex: 25%;
      padding: 10px;
  }
  
  /*WIKI*/
  
  .subtituloTres{
      margin: 20px 0px 20px 0px;
      text-align: center;
      font-size: 200%;
      font-weight: 700;
      color: white;
  }
  
 
  
  p {
      background-color: #d6eaf8;
      border-radius: 8px;
      padding: 15px;
      margin: 8%;
  
      font-size: larger;
  }

  .btn-wiki--blanco{
      color: white;
  }
  
  /*UNIRSE*/
  
  fieldset, form{
      background-color: #00DF93;
      padding: 20px 20px 20px 20px;
      margin: 0px 20% 0px 20%;
      border-radius: 5px;
  }
  
  legend{
      font-style: bold;
      font-size: 180%;
      text-align: center;
  }
  
  .fieldDos{
      margin-bottom: 120px;
  }
  
  /*^FOOTER*/
  
  footer{
      height: 50px;
      width: 100%;
      margin-top: 10px;
      background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
  }
  
  
  /*RESPONSIVE*/
  
  @media (max-width: 1200px) {
    body {
      font-size: 16pt;
    }
  }
  
  @media (max-width: 768px) {
    body {
      font-size: 14pt;
    }
    p{
        margin: 5%;
    }
    footer{
        background-image: linear-gradient(315deg, #0499f2 0%, #26f596 74%);
    }
  }
  
  @media (max-width: 480px) {
    body {
      font-size: 10pt;
    }
    .fila{
        flex-flow: column;
    }
    p{
        font-size: medium;
        margin: 2%;
    }
    fieldset,form{
        margin: 0px 10% 0px 10%;
    }
    footer{
        background-image: linear-gradient(315deg, #70b2d9 0%, #39e5b6 74%);
    }
  }