* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
      font-family: Segoe UI;
  }
  
  .btn-group{
      padding: 0 0 15px 15px;
  }
  
  .btn-info{
      padding-left: 30px;
  }
  

  /* MENU*/
  
  #logo {
      padding-left: 20px;
  }
  
  .fixed {
      position: fixed;
  }
   
  .navLinks {
      list-style: none;
  }
  
  .navLinks li {
      display: inline-block;
      padding: 0px 40px 0px 10px;
  }
  
  .navLinks li a {
      text-decoration:none;
      color: White;
  }

  .bg--color{
    background-image: linear-gradient(315deg, #0499f2 0%, #26f596 74%);
  }
  
  /*BANNER*/
  
  .banner {
      width: 100%;
      height: 500px;
      background-image: url("https://ak.picdn.net/shutterstock/videos/1040937482/thumb/1.jpg");
      background-size: cover;
      background-position: center center;
  }
  
  .banner h2 {
      padding-top: 14%;
      text-align: center;
      font-size: 400%;
      color: White;
  
      /*ANIMACION*/
      animation-duration: 3s;
      animation-name: aparecer;
  }
  
  @keyframes aparecer {
      0%{
          opacity: 0;
      }
      100%{
          opacity: 1;
      }
  }
  
  /*SUBTITULOS*/
  
  .subtituloHome{
      font-size: 300%;
      text-align: center;
      padding: 20px 0px 20px 0px;
  }
  
  .subtituloDos{
      font-size: 300%;
      text-align: center;
      padding: 40px 0px 20px 0px;
      font-weight: 900;
  
      animation-name: aparecer;
      animation-duration: 3s;
  }
  
  .subtitulo--blanco{
      color: white;
  }
  
  .subtituloMusica{
      font-size: 200%;
      margin: 1% 0 1% 1%;
      font-style: italic;
      font-weight: 600;
  }
  
  /*GALERIAS*/
  
  .columna img {
      width: 100%;
      padding-top: 5px;
  }
  
  .columna iframe {
      width: 100%;
      padding-top: 5px;
  }
  
  .fila {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: center;
  }
  
  .row2 {
      background-color: #00DF93;
  
      padding: 10px;
      margin: 0px 1% 1% 1%;
      border-radius: 5px;
  }
  
  .row {
      background-color: #00DF93;
  
      display: flex;
      padding: 5px;
      margin-bottom: 40px;
      flex-wrap: wrap;
  }
  
  .columna{
      flex: 25%;
      padding: 5px;
  }
  
  /*WIKI*/
  
  .subtituloTres{
      margin: 20px 0px 20px 0px;
      text-align: center;
      font-size: 200%;
      font-weight: 700;
      color: white;
  }
  
  .wiki{
      background-image: url("https://i.pinimg.com/originals/1d/15/d8/1d15d8da8b3b6f3a895828ba2663f409.gif");
  }
  
  p {
      background-color: #d6eaf8;
      border-radius: 8px;
      padding: 20px 20px 20px 20px;
      margin: 0px 10% 20px 10%;
  
      font-size: 140%;
  }

  .btn-wiki--blanco{
      color: white;
  }
  
  /*UNIRSE*/
  
  fieldset, form{
      background-color: #00DF93;
      padding: 20px 20px 20px 20px;
      margin: 0px 40% 0px 40%;
      border-radius: 5px;
  }
  
  legend{
      font-style: bold;
      font-size: 180%;
      text-align: center;
  }
  
  .fieldDos{
      margin-bottom: 120px;
  }
  
  /*^FOOTER*/
  
  footer{
      height: 50px;
      width: 100%;
      margin-top: 5%;
      background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
  }
  
  
  /*RESPONSIVE*/
  
  @media (max-width: 1200px) {
    body {
      font-size: 16pt;
    }
  }
  
  @media (max-width: 768px) {
    body {
      font-size: 14pt;
    }
    footer{
        background-image: linear-gradient(315deg, #0499f2 0%, #26f596 74%);
    }
  }
  
  @media (max-width: 480px) {
    body {
      font-size: 100%;
    }
    footer{
        background-image: linear-gradient(315deg, #70b2d9 0%, #39e5b6 74%);
    }
  }